.device-logo {
  font-size: 26.46px;
  font-family: "Gilroy";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
}

.search {
  font-size: 15px;
  font-family: "OpenSans";
  color: rgba(0, 0, 0, 0.302);
  font-weight: normal;
  line-height: 2.4;
}

.header-up-user-menu,
.subnavigation-list-item {
  font-size: 15px;
  font-family: "OpenSans";
  color: rgb(0, 0, 0);
  font-weight: normal;
  line-height: 2.4;
}

. {
  font-size: 18px;
  font-family: "Gilroy";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
}


